/.vscode
/bin
/build
/.gradle
/logs
/run
/saves
Aspects.code-workspace
.DS_Store
/libs
/remappedSrc
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/discord.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules/Aspects.main.iml
.idea/modules/Aspects.test.iml
.idea/runConfigurations/Minecraft_Client.xml
.idea/runConfigurations/Minecraft_Server.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/runConfigurations/Minecraft_Server.xml
.idea/runConfigurations/Minecraft_Client.xml
.idea/modules/Aspects-Continued.test.iml
.idea/modules/Aspects-Continued.main.iml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/discord.xml
.idea/compiler.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
